:root {
    --section-padding:60px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open sans','sans-serif';
}
ul {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
header {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url("img/back-image.png");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
/* @media (min-width:768px) {
    header {
     padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url("/img/back-image.png");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    }
} */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    /* margin-right: auto; */
}
img {
    width: 100px;
    margin: 1px 57px 46px 122px;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
nav {
    display: block;
}
nav ul li {
    margin: 13px 9px 32px;
    display: inline-block;
}
nav ul li a
{
    text-decoration: none;
    color: #000000b8;
}
nav ul li a:hover {
    color: chartreuse;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
div{
    padding: 0 0 0 206px;
    margin: -51px 1px 0 279px;
}
/* Continue from here to make it good */
div .btn {
    text-decoration: none;
    background-image: linear-gradient(45deg , #df4881, #c430d7);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-top-right-radius: 0;
    font-size: 18px;
    cursor: pointer;
}
.log-in {
    color: #000000b8;
    text-decoration: none;
}
@media (max-width:767px) {
    div {
        margin: 13px;
    }
}
@media (max-width:991px) {
    div {
        margin: 13px;
    }
}
div .log-in {
    padding: 140px;
}
@media (max-width:767px) {
    div .log-in {
        margin: -282px;
    }
}
@media (max-width:767px) {
    div .btn {
        margin: 108px 0 0 210px;
    }
}
.collect {
     position: relative;
    text-align: center;
    padding-bottom: var(--section-padding);
    padding-right: var(--section-padding);
}
@media (max-width:767px) {
    .collect {
       margin: -53px -55px;
        width: 61vh;
        padding-bottom: var(--section-padding);
        padding-left: var(--section-padding);
        position: relative;
        bottom: 65%;
        left: -21%;
        bottom: -28px;
    }
}
.collect .imgs {
    position: relative;
    bottom: -188px;
    left: 130px;
    width: 30%;
}
.make {
    max-width: 117%;
    position: absolute;
    top: 30%;
    right: 63%;
}
.make h1 {
    font-size: 65px;
}
.make p {
    max-width: 258px;
    height: 155px;
    font-weight: normal;
}
.make span {
    background-image: linear-gradient(45deg , #df4881, #c430d7);
    margin: 5px 6px 20px 7px;
    padding: 2px 18px 16px 13px;
}
/* @media (max-width:767px) {
    .make {
        
    }
} */
@media (max-width:767px) {
    .make h1 {
        font-size: 32px;
    }
}